-
	var models = [
		{name: 'Banny', model: 'models/banny'},
		{name: 'Hockey stick', model: 'models/hockey_stick'},
		{name: 'Shadow', model: 'models/shadow'},
		{name: 'Parts > Asfalt', model: 'models/parts/asfalt'},
		{name: 'Parts > Trees', model: 'models/parts/trees'},
		{name: 'Parts > Houses', model: 'models/parts/houses'},
		{name: 'Parts > Tiles', model: 'models/parts/tiles'},
		{name: 'Main Menu', model: 'models/main_menu'}
	]

	var animations = [
		{name: 'Banny', file: 'anims/banny'},
	]