-
	var models = [
		{name: 'Arena', model: 'models/arena'},
		{name: 'Banny', model: 'models/banny'},
		{name: 'Hockey stick', model: 'models/hockey_stick'},
		{name: 'Shadow', model: 'models/shadow'},
		{name: 'Parts > Asfalt', model: 'models/parts/asfalt'},
		{name: 'Parts > Trees', model: 'models/parts/trees'}
	]

	var animations = [
		{name: 'Banny', file: 'anims/banny'},
	]